@import '../variables';

.news{
    &-block{
        display: flex;
    }
    &__item{
        &-main{
            .news__list-item{
                width: 478px;
                max-width: 478px;
                height: 628px;
                border-radius: 5px;
                margin-left: 0;
                &_title{
                    max-width: 344px;
                    &-text{
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 480px);
        &-item{
            position: relative;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 6px;
            height: 425px;
            margin: 0 0 20px 20px;
            overflow: hidden;
            max-width: 280px;
            width: 100%;
            padding: 25px;
            &_latest{
                width: 94px;
                height: 18px;
                border-radius: 2px;
                background-color: #931636;
                position: absolute;
                top: 25px;
                right: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                span{
                    color: $white;
                    font-size: 8px;
                    font-weight: bold;
                }
            }
            &_related{
                height: 30px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                span{
                    text-transform: capitalize;
                    border: 2px solid $white;
                    padding: 3px 15px;
                    border-radius: 50px;
                    color: $white;
                }
            }
            &_title{
                max-width: 210px;
                width: 100%;
                height: calc(100% - 80px);
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-wrap: wrap;
                &-text{
                    font-size: 20px;
                    font-weight: 400;
                    color: $white;
                }
            }
            &_summary{
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                .LinesEllipsis{
                    margin-top: 25px;
                    color: $white;
                }
                .LinesEllipsis-ellipsis span{
                    color: $white;
                }
            }
            &_bottom{
                display: flex;
                justify-content: space-between;
                height: 50px;
                align-items: flex-end;
            }
            &_date{
                padding-right: 15px;
                border-right: 1px solid #4243436b;
                height: 30px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 13px;
                span{
                    color: $white;
                }
            }
            &_source{
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                span{
                    color:#424343;
                }
            }
            &_buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                a, button{
                    position: relative;
                    width: 20px;
                    height: 30px;
                    margin-left: 5px;
                    outline: none;
                    cursor: pointer;
                    background: none;
                    border: none;
                    color:#424343;
                    font-size: 18px;
                    transition: ease-in-out .3s;
                    &:hover{
                        color: $site-color-two;
                    }
                }
            }
        }
    }
}