@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "variables";
@import "libs/normalize";
@import "components/header";
@import "components/home";
@import "components/pagination";
@import "components/modal";
@import "components/search";
@import "components/bookmarks";


body{
    background-color: $site-color;
    font-family: 'Ubuntu', sans-serif;

}
.loading{
    display: flex;
    justify-content: center;
}
.wrapper{
    max-width: 1440px!important;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}